<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <div class="mat-h1 book">
                    {{book.title}}
                </div>
            </div>
            <div class="col-md-5">
                <div class="mat-h3">
                    {{book.writer}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="mat-h3">
                    {{book.genre}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mat-h4">
                    Num of pages: {{book.numberOfPages}}
                </div>
            </div>
            <div class="col-md-8">
                <div class="mat-h4">
                    {{book.publisher}}, {{book.yearOfPublication}}, {{book.placeOfPublication}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="mat-h3">
            {{book.synopsis}}
        </div>
    </div>
    <div class="col-md-1">
        <div class="mat-h3">
            {{book.plagiarism}}
        </div>
    </div>
</div>