<div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" [formGroup]="registerForm">

        <div *ngFor="let field of formFields; let i=index" >
            <label for={{field.id}}>{{field.label}}</label>
      
            <input formControlName={{field.id}} required type="text" name={{field.id}} ngModel  *ngIf="field.type.name=='string'">
            <input formControlName={{field.id}} type="checkbox" name={{field.id}} ngModel  *ngIf="field.type.name=='boolean'">
            <input formControlName={{field.id}} type="number" name={{field.id}} ngModel  *ngIf="field.type.name=='long'">
            <input formControlName={{field.id}} type="email" name={{field.id}} ngModel  *ngIf="field.type.name=='string_email'">
            <input formControlName={{field.id}} type="password" name={{field.id}} ngModel  *ngIf="field.type.name=='string_password'">
            <select name="field.id" *ngIf="field.type.name=='enum'">
              <option *ngFor="let val of enumValues[field.id]" value={{val}}>
                {{field.type.values[val]}}
              </option>
            </select>
            <div *ngIf="field.type.name=='multipleEnum_genres'" formGroupName={{field.id}}>
              <div *ngFor="let element of enumValues| keyvalue">
                <div *ngIf="element.key == field.id">
                  <div *ngFor="let genre of element.value">
                    <input type="checkbox" [formControlName]="genre">{{field.type.values[genre]}}<br>
                  </div>
                </div>
              </div>
            </div>
            <div *ngFor="let validator of field.validationConstraints">
              <div *ngIf="validator.name=='required' && !registerForm.controls[field.id].valid && registerForm.controls[field.id].touched">
                {{field.id}} is required.
              </div>
              <div *ngIf="validator.name=='email' && !registerForm.controls[field.id].valid && registerForm.controls[field.id].touched">
                {{field.id}} must be of type email.
              </div>
              <div *ngIf="validator.name=='minlength' && !registerForm.controls[field.id].valid && registerForm.controls[field.id].touched">
                {{field.id}} must be longer than {{validator.configuration}}.
              </div>
            </div>
        </div>
        
        <input type="submit" [disabled]="f.form.invalid">
      </form>
</div>