<br>
<br>
<br>
<br>
<form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" [formGroup]="registerForm">
  <div *ngFor="let field of formFields; let i=index" >
      <mat-form-field appearance="fill" *ngIf="field.type.name == 'string'">
        <mat-label>{{field.label}}</mat-label>
        <input matInput formControlName={{field.id}} required type="text" name={{field.id}} ngModel>
        <mat-error *ngIf="registerForm.controls[field.id].hasError('required')">
          {{field.id}} is <strong>required</strong>
        </mat-error>  
        <mat-error *ngIf="registerForm.controls[field.id].hasError('minlength')">
          {{field.id}} must be <strong>longer</strong> than {{registerForm.controls[field.id].errors.minlength.requiredLength}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="field.type.name == 'string_email'">
        <mat-label>{{field.label}}</mat-label>
        <input matInput formControlName={{field.id}} required type="email" name={{field.id}} ngModel>
        <mat-error *ngIf="registerForm.controls[field.id].hasError('required')">
          {{field.id}} is <strong>required</strong>
        </mat-error>  
        <mat-error *ngIf="registerForm.controls[field.id].hasError('minlength')">
          {{field.id}} must be <strong>longer</strong> than {{registerForm.controls[field.id].errors.minlength.requiredLength}}
        </mat-error>
      </mat-form-field>

      
      <mat-form-field appearance="fill" *ngIf="field.type.name == 'string_password'">
        <mat-label>{{field.label}}</mat-label>
        <input matInput formControlName={{field.id}} required type="password" name={{field.id}} ngModel>
        <mat-error *ngIf="registerForm.controls[field.id].hasError('required')">
          {{field.id}} is <strong>required</strong>
        </mat-error>  
        <mat-error *ngIf="registerForm.controls[field.id].hasError('minlength')">
          {{field.id}} must be <strong>longer</strong> than {{registerForm.controls[field.id].errors.minlength.requiredLength}}
        </mat-error>
      </mat-form-field>

      <div class="col-md-6" *ngIf="field.type.name.includes('files_')" >
        <div class="row" style="margin-left: 9px; margin-bottom: 10px;" >
          <mat-label>{{field.label}}</mat-label>
          <br>
          <input type="file" #file placeholder="Choose file" (change)="onFileChange($event, field.id)" style="display:none;" multiple>
          <button mat-fab color="accent" type="button" (click)="file.click()"  matTooltip="upload image file">
            <mat-icon> attach_file</mat-icon>
          </button>
        </div>
        <div class="row" *ngIf="registerForm.controls[field.id].value != null">
          <div  *ngFor="let uploadedFile of filesString">
            <mat-label>{{uploadedFile}}</mat-label>
            <br>
            <br>
          </div>
        </div>
      </div>

      <mat-form-field appearance="fill" *ngIf="field.type.name == 'string_textArea'">
        <mat-label>{{field.label}}</mat-label>
        <textarea matInput formControlName={{field.id}} style=" height: 150px; width: 300px;" ngModel name={{field.id}} required></textarea>
        <mat-error *ngIf="registerForm.controls[field.id].hasError('required')">
          {{field.id}} is <strong>required</strong>
        </mat-error>  
        <mat-error *ngIf="registerForm.controls[field.id].hasError('minlength')">
          {{field.id}} must be <strong>longer</strong> than {{registerForm.controls[field.id].errors.minlength.requiredLength}}
        </mat-error>
      </mat-form-field>

      <div *ngIf="field.type.name=='enum'">
        <mat-form-field appearance="fill">
          <mat-label>{{field.id}}</mat-label>
          <mat-select formControlName={{field.id}} required>
            <mat-select>
              "Nista"
            </mat-select>
            <mat-option *ngFor="let enum of field.type.values| keyvalue" [value]="enum.key">
              {{enum.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="field.type.name.includes('notEditableEnum')">
        <br>
        <mat-label>{{field.label}}</mat-label>
          <ul style="list-style-type:none;">
            <div *ngFor="let element of enumValues| keyvalue">
              <div *ngIf="element.key == field.id">
                <li *ngFor="let enum of element.value">
                  <a>{{field.type.values[enum]}}</a>
                </li>
              </div>
            </div>
          </ul>
        <br>
      </div>

      <div *ngIf="field.type.name=='boolean'">
        <br>
        <mat-checkbox formControlName={{field.id}} name={{field.id}} ngModel>
          {{field.label}}
        </mat-checkbox>
      </div>


      <div *ngIf="field.type.name.includes('multipleEnum')" formGroupName={{field.id}}>
        <br>
        <mat-card style="width:max-content;">
          <mat-card-header>
            <mat-card-title>
              {{field.label}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul style="list-style-type:none;">
              <div *ngFor="let element of enumValues| keyvalue">
                <div *ngIf="element.key == field.id">
                  <li *ngFor="let enum of element.value">
                    <mat-checkbox [formControlName]="enum">
                      {{field.type.values[enum]}}
                    </mat-checkbox>
                  </li>
                </div>
              </div>
            </ul>
          </mat-card-content>
        </mat-card>
        <br>
      </div>
  </div>
  
  <button mat-raised-button color="primary" type="submit" [disabled]="f.form.invalid">Submit</button>
</form>
<br>
<br>
<br>
<br>