<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      *ngIf="checkIfLoggedin()">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item style="cursor: pointer;" (click)="router.navigate(['books'], {relativeTo: activeRoute})"><img src="assets/img/open-book.png">&nbsp;Books</a>
      <a mat-list-item style="cursor: pointer;" (click)="router.navigate(['tasks'], {relativeTo : activeRoute})"><img src="assets/img/clipboard.png">&nbsp;Tasks</a>
      <a mat-list-item style="cursor: pointer;" (click)="submitNewBook()" *ngIf="checkIfActiveWriter()">&nbsp;<img src="assets/img/book.png">&nbsp;Submit new book</a>
      <a mat-list-item style="cursor: pointer;" (click)="fileAnAppeal()" *ngIf="checkIfActiveWriter()"><img src="assets/img/gavel.png">&nbsp;&nbsp;File an appeal</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="height: 75px;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="margin-top: 62px;">
        <a (click)="router.navigate([''])" style="cursor: pointer;">
          <div class="mat-display-2"><img src="assets/img/fox.png">&nbsp;Foxy</div>
        </a>
      </span>
      <span class="example-spacer"></span>
      <app-starter></app-starter>
    </mat-toolbar>
    <!-- Add Content Here -->
    <mat-sidenav-content style="margin-top: 2%; margin-left: 5%;" >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>